@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #F3EBEB;
 
}

header {
    background: #FFF;
  
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
}


.header__article__profile {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #FFF;
}

.header__article__div__img {

    width: 350px;
    height: 340px;
    overflow: hidden;
    margin: auto;
    position: relative;
    border-radius: 12px;

}

.header__first__img {
    position: absolute;
    top: -12%;
    max-width: 100%;
}

.header__div__info {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.header__info__name {
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.header__info__name>h1 {
    width: 115.421px;
    height: 24.538px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;

}

.header__info__name>h2 {
    color: #828282;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__info__contact {
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: #000000;
}

.header__div__info>p {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 101.846px;
    align-self: stretch;
    padding-top: 1em;
}

/* AQUI COMIENZA LO DE SKILLS */
.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
    padding: 16px;
}

.td_texto_small {
    width: 154px;
}

.td_texto_large {
    width: 260px;
}

.progress {
    width: 100%;
    height: 10px;
    appearance: none;
    color: blue;
}

.progress[value]::-webkit-progress-bar {
    background-color: #C4C4C4;
}

progress[value]::-webkit-progress-value {
    background-color: #2F80ED;
}

/* AQUI COMIENZA SECTION PROYECTOS */
.main__proyects {
    display: flex;
    padding: 16px;
    flex-direction: column;
    Justify-content: center;
    align-items: flex-start;
    gap: 32px;

    border-radius: 12px;
    background: #FFF;
    margin-top: 25px
}

.proyects__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button1 {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #2F80ED;
    color: #FFF;
    border: none;
}

.button2 {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: none;
}

.button3 {
    display: flex;
    padding: 12px 42.797px 11px 39.203px;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    border: 1px solid #4F4F4F;
    background: rgba(255, 255, 255, 0.00);

}

/* SECCION PORTAFOLIO */
/*PROYECT PREVIEW SECTION*/
.preview {
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: 16px;
    border-radius: 12px;
    margin-top: 24px;
    width: 100%;
}

.preview2 {
    display: none;
}

.preview3 {
    display: none;
}

.preview__Mask {
    width: 100%;
    height: 298.5px;
    border-radius: 12px;
    border: 1px solid #C4C4C4;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    overflow: hidden;
}

.preview__Mask__img {
    position: relative;
    left: -12%;
    max-height: 100%;
    width: 100%;
}

.preview__titulo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.preview__hashtags {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--dark-gray-color);
}

.preview__nav {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
}

.preview__nav__button {

    padding: 12px 38.797px 11px 39.203px;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-12, 12px);
    background: var(--blue, #2F80ED);
    display: flex;
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.preview__nav__button__two {
    display: flex;
    align-items: center;
    border-radius: var(--radius-12, 12px);
    border: 1px solid var(--blue, #2F80ED);
    background: rgba(255, 255, 255, 0.00);
    padding: 12px 47.797px 11px 39.203px;
    text-decoration: none;
    color: #2F80ED;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* SECTION DE EXPERIENCIA */


.experiencia {
    display: flex;
    width: 100%;
    height: 16em;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #FFF;
    margin-top: 25px;
}

.article__experiencia {
    display: flex;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}


/* article__experiencia2 y 3 en display none */

.article__experiencia2 {
    display: none;
}

.article__experiencia3 {
    display: none;
}

.article__frame13 {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--gray-3, #C4C4C4)
}

.article__frame15 {
    display: flex;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
    align-self: stretch;
}

.article__frame14 {
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.article__frame14>span {
    color: var(--gray, #828282);

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.article__frame14>h2 {
    color: #000;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.article__frame13>p {
    height: 100%;
    flex: 1 0 0;
    color: #828282;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


.certificate__portrait-2 {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #FFF;
    width: 100%;

}

.certificate__portrait-2>h2 {

    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--gray-2, #4F4F4F);

}

/* los tres div de certificate */
.certificate__frame14 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    flex-direction: column;
}

.certificate__frame14__2 {
    display: none;
}

.certificate__frame14__3 {
    display: none;
}

.certificate__img {
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--gray-3, #C4C4C4);
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
    height: 260px;
}

.certificate_frame15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    padding: 4px;
}

.certificate_frame15>h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.certificate_frame15>span {


    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--gray, #828282);
}





@media screen and (min-width: 800px) {

    body {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 16px;
        grid-row-gap: 24px;

        .header {
            grid-area: 1 / 1 / 2 / 2;
        }

        .main {
            grid-area: 1 / 2 / 3 / 3;
        }

        .experiencia {
            grid-area: 2 / 1 / 3 / 2;
        }

        .certificate__portrait-2 {
            grid-area: 3 / 1 / 4 /3;
        }
    }

    /* SKILL */

    .skills {
        width: 100%;
        grid-area: skills;
    }

    .td_texto_small {
        width: 124px;
    }

    progress {
        margin-left: 0px;
    }

    .skills__tabla {
        display: flex;
        padding-right: 16px;
        padding-left: 16px;
        gap: 32px;
    }

    /* MAIN */
    .main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .experiencia {
        display: flex;
        height: 100%;
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        align-self: stretch;
        border-radius: 0.75rem;
        background: #FFF;
        margin-top: 0px;
    }

    .experiencia__div {

        gap: 1rem;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        padding: 1.5rem 1rem;
    }

    /* Preview */

    .preview__general {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 0.75rem;
        background: transparent;
        height: 56.249rem;
        overflow-y: scroll;
    }

    .preview,
    .preview2,
    .preview3 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border-radius: 12px;
        margin-top: 24px;
        width: 100%;
        background-color: #FFF;
    }

    .preview__info {
        display: flex;
        flex-direction: column;

    }

    .preview__frame {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

    .preview__Mask__img {
        position: relative;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    /*Proyectos*/

    .main__proyects {
        margin-top: 0px;
    }

    /*Certificados */

    .certificate__portrait-2 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 3rem;

    }

    .certificate__portrait-2>h2 {
        padding-right: 80.19rem;
        padding-top: 1rem;
    }

    .certificate__frame__general {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }



    .certificate__frame14,
    .certificate__frame14__3,
    .certificate__frame14__2 {
        display: flex;
        flex-direction: column;
        height: 340px;
        margin: auto;
        border-radius: 12px;
        margin-bottom: 16px;
        border: 2px solid #C4C4C4;
        border-radius: 0.75rem;
        padding: 1rem;
        justify-content: unset;
        gap: 0;
    }


    /* experiencia */

    .article__experiencia {
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .article__experiencia2 {
        display: flex;
    }

    .article__experiencia3 {
        display: flex;
    }



}